.suporte-page {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  font-size: 17px;
  overflow-x: hidden;
}

.suporte-hero {
  background-color: #3580c5;
  width: 100%;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  padding: 0 20px;
  box-sizing: border-box;
}

.suporte-title {
  font-size: 2rem;
  font-weight: bold;
}

.suporte-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.suporte-heading {
  font-size: 2.3rem;
  margin: 50px 0;

  font-weight: bold;
  text-align: center;
}

.suporte-contact {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}

.suporte-info ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
}

.suporte-info li {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  width: 260px;
  height: 350px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 0 10px #0000001a;
  transition: transform 0.2s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.suporte-info li:hover {
  transform: scale(1.03);
}

.suporte-icon {
  margin-bottom: 30px;
  font-size: 50px;
}

.suporte-description,
.suporte-contact-text {
  margin: 20px 0;
}

.suporte-contact-text {
  font-weight: bold;
}

.suporte-button {
  margin-top: auto;
  padding: 8px 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.suporte-button:hover {
  background-color: #555;
}

.suporte-button a {
  text-decoration: none;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: aliceblue;
}

/*
.meios-contato {
  width: 40pc;
  padding: 25px;
  padding-bottom: 100px;
  margin-left: 250px;
}

.meios-contato table {
  width: 100%;
  border-collapse: collapse;
}

.meios-contato thead {
  border-bottom: 1px black solid;
}

table th,
table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px black solid;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.whatsapp {
  text-decoration: none;
  color: green;
}

.email {
  text-decoration: none;
  color: red;
}



@media screen and (max-width: 966px) {
  .meios-contato {
    margin-left: 200px;
  }
}

@media screen and (max-width: 850px) {
  .meios-contato {
    margin-left: 100px;
  }
}

@media screen and (max-width: 838px) {
  .meios-contato {
    margin-left: 100px;
  }
}

@media screen and (max-width: 828px) {
  .suporte {
    margin-left: 20px;
  }
}

@media screen and (max-width: 740px) {
  .suporte {
    margin-left: 75px;
  }
}

@media screen and (max-width: 715px) {
  .suporte {
    margin-left: 60px;
  }
}

@media screen and (max-width: 828px) {
  .suporte {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .suporte {
    margin-left: 57px;
  }

  .meios-contato {
    margin-left: 10px;
  }
}

@media screen and (max-width: 700px) {
  .suporte {
    margin-left: 0;
  }

  .meios-contato {
    margin-left: 0;
  }
}

@media screen and (max-width: 618px) {
  .meios-contato table {
    width: 95%;
  }
}

@media screen and (max-width: 582px) {
  .meios-contato table {
    width: 90%;
  }
}

@media screen and (max-width: 512px) {
  .meios-contato table {
    width: 80%;
  }

  .meios-contato h3 {
    margin-right: 100px;
  }
}

@media screen and (max-width: 486px) {
  .meios-contato table {
    width: 75%;
  }
}

@media screen and (max-width: 460px) {
  .meios-contato table {
    width: 70%;
  }
}

@media screen and (max-width: 442px) {
  .meios-contato table {
    width: 65%;
  }

  .meios-contato h3 {
    margin-right: 200px;
  }
}

@media screen and (max-width: 382px) {
  table th,
  table td {
    display: flex;
    flex-direction: column;
  }

  .meios-contato table {
    width: 57%;
  }

  .meios-contato h3 {
    margin-right: 250px;
  }
}

@media screen and (max-width: 320px) {
  .meios-contato table {
    width: 10%;
  }

  .meios-contato h3 {
    margin-right: 300px;
  }
} */
