.meios-contato {
  width: 40pc;
  padding: 25px;
  padding-bottom: 100px;
}

.meios-contato table {
  width: 100%;
  border-collapse: collapse;
}

.meios-contato thead {
  border-bottom: 1px black solid;
}

table th,
table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px black solid;
}

.whatsapp {
  text-decoration: none;
  color: green;
}

.email {
  text-decoration: none;
  color: red;
}

.whatsapp:hover,
.email:hover {
  opacity: 0.7;
}



@media screen and (max-width: 828px) {
  .suporte {
    margin-left: 100px;
  }
}

@media screen and (max-width: 425px) {
  .suporte {
    margin-left: 0;
  }

  .meios-contato {
    width: 100%;
  }
}