main {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 35px;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}

.stars {
  margin-top: 50px;
}

.gold {
  text-decoration: none;
  color: #e1b32c;
}

star-rating {
  margin-bottom: 20px;
}

textarea {
  margin-top: 15px;
  width: 500px;
  height: 200px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.doa {
  margin-top: 10px;
}

.submit {
  margin-top: 15px;
  padding: 8px;
  border-radius: 7px;
  width: 240px;
  border: none;
  background-color: var(--primaryColor);
  color: aliceblue;
}