.titulo {
  margin-bottom: 50px;
}

.form-principal {
  display: flex;
}

.form-responsivo {
  display: none;
}


@media screen and (max-width:950px) {

  .form-principal {
    display: none;
  }

  .form-responsivo {
    display: flex;
  }

  .form-responsivo input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
}
