.container {
  width: 100pc;
  padding: 25px;
  background-color: #f9fafb;
  padding-bottom: 100px;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.container thead {
  border-bottom: 1px black solid;
}

table th,
table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px black solid;
}

.notificacao td {
  padding: 15px;
  vertical-align: middle;
  text-align: center;
}


@media screen and (max-width: 1440px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    padding: 10px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 50%;
    padding: 10px;
    margin: 15px;
    padding: 0;
    font-size: 16px;
  }


  table th,
  table td {
    padding: 0;
  }

  .notificacao td {
    padding: 0;
  }
}