nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
  color: aliceblue;
  height: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.c_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-decoration: none;
  padding: 19px;
  font-size: 18px;
}

a:hover {
  opacity: 0.8;
}