nav {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
  color: aliceblue;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logo {
  width: 150px;
  height: 25px;
}

.c_button {
  color: aliceblue;
  text-decoration: none;
  display: inline;
  margin: 15px;
  font-size: 18px;
  padding: 8px;
}

a:hover {
  opacity: 0.8;
}