body {
  height: 100vh;
}

.navbar2 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--primaryColor);
  color: aliceblue;
  height: auto;
}

.logo2 {
  width: 200px;
  height: auto;
  object-fit: contain;
  margin-left: 90px;
  padding: 25px;
}

.sub-navbar {
  display: none;
  width: 100%;
  height: 10px;
  background-color: #0d1823;
  color: aliceblue;
  padding: 40px 0 40px 1%;
  box-shadow: 3px 0 0 #4da9eb;
}

.sub-navbar ul.sub-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.sub-menu .fa-icon {
  font-size: 25px;
}

ul li.item-sub {
  transition: .2s;
}

ul li.item-sub:hover {
  padding: 10px;
  border-radius: 5px;
}

ul li.item-sub a {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 40px;
}


aside.menu-lateral {
  width: 80px;
  height: 100%;
  background-color: #0d1823;
  padding: 40px 0 40px 1%;
  box-shadow: 3px 0 0 #4da9eb;

  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .5s;
  z-index: 1;
}

aside.menu-lateral:hover {
  width: 300px;
}

.btn-expandir {
  width: 100%;
  padding-left: 10px;
}

.btn-expandir .FaList {
  color: aliceblue;
  font-size: 24px;
  cursor: pointer;
}

ul.menu {
  height: 100%;
  list-style-type: none;
  padding-left: 0;
}

ul li.item-menu {
  transition: .2s;
}

ul li.ativo {
  background-color: #4da9eb;
}

ul li.item-menu:hover {
  background-color: #4da9eb;
}

ul li.item-menu a {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  margin-left: 70px;
  transition: 1s;
  opacity: 0;
}

aside.menu-lateral:hover .txt-link {
  margin-left: 40px;
  opacity: 1;
}

ul li.item-menu a .icon .fa-icon {
  font-size: 30px;
  margin-left: 10px;
}

@media screen and (max-width: 708px) {
  .menu-lateral {
    display: none;
  }

  .sub-navbar {
    display: flex;
  }

  .btn-expandir2 {
    display: inline;
    font-size: 25px;
    padding: 15px;
  }

  .navbar2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
  }

  .link {
    width: 100%;
    height: 100%;
  }

  .logo2 {
    margin-left: 210px;
  }

}

@media screen and (max-width: 644px) {
  .logo2 {
    margin-left: 190px;
  }
}

@media screen and (max-width: 650px) {
  .logo2 {
    margin-left: 180px;
  }
}

@media screen and (max-width: 592px) {
  .logo2 {
    margin-left: 160px;
  }
}

@media screen and (max-width: 552px) {
  .logo2 {
    margin-left: 140px;
  }
}

@media screen and (max-width: 446px) {
  .logo2 {
    margin-left: 100px;
  }
}

@media screen and (max-width: 394px) {
  .logo2 {
    margin-left: 75px;
  }
}

@media screen and (max-width: 375px) {
  .logo2 {
    margin-left: 60px;
  }
}

@media screen and (max-width: 320px) {
  .logo2 {
    margin-left: 30px;
  }
}
