.container-404 {
  background-image: url('/src/assets/construcao-civil-tendencias.webp');
  object-fit: cover;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.arrowIcon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: aliceblue;
}