.container-404 {
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f0f8ff;
}

p.title1 {
  font-size: 10rem;
  color: var(--primaryColor);
  opacity: 0.5;
}

p.title2 {
  color: #272626;
  font-size: 2.5rem;
}

p.subtitle {
  color: #272626;
  font-size: 1.4rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}

.button-link {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--primaryColor);
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button-link .back {
  background-color: #ddd;
  
}

.button-link:hover {
  background-color: #0056b3;
}

.icon {
  font-size: 20px;
}

